// Color
$text-color-white: #ffffff;
$color-white: #ffffff;
$text-color-white50: rgba(255, 255, 255, 0.5);
$text-color-white75: rgba(255, 255, 255, 0.75);
$text-color-purp: #3260ad;
$text-color-blue: #00bdff;

$text-color-dark: #263b5e;
