// global styles
a {
	cursor: pointer;
}

.app-container {
	min-height: 350px;
}

.btn-delete-user {
	width: 40px;
	text-align: center;
	box-sizing: content-box;
}

.chartcontainer {
	height: 100%;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: '>';
}
// For cutting down text - Next 2 rules
.truncate30 {
	width: 30ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.truncate15 {
	width: 15ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
